# OS / Global
.DS_Store
.cursor/

# Backend (Gradle)
backend/.gradle/
backend/build/
backend/out/
backend/bin/
backend/*.log
backend/*.ipr
backend/*.iws
backend/*.iml

# Frontend (Node)
frontend/node_modules/
frontend/dist/
frontend/.idea/
frontend/.vscode/
frontend/*.log
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.env

# Backend Secrets
backend/src/main/resources/application-secret.properties
